<ul class="plan1" style="list-style: none">
  <li class="plan-title">プランテキスト</li>
  <li class="item1">
    <h1 class="fee">料金</h1>
    <h2 class="fee-detail">月額</h2>
  </li>
  <li class="item2">プラン１</li>
  <li class="item2">プラン２</li>
  <li class="item2">プラン３</li>
  <li class="item2">プラン４</li>
</ul>

<ul class="plan2" style="list-style: none">
  <li class="plan-title">プランテキスト</li>
  <li class="item1">
    <h1 class="fee">料金</h1>
    <h2 class="fee-detail">月額</h2>
  </li>
  <li class="item2">プラン１</li>
  <li class="item2">プラン２</li>
  <li class="item2">プラン３</li>
  <li class="item2">プラン４</li>
</ul>
