<ul class="plan" style="list-style: none">
  <li class="plan-title">プランテキスト</li>
  <li class="item1">
    <div class="fee">
      <p class="fee-price">￥5,000</p>
    </div>
    <p class="fee-detail">月額</p>
  </li>
  <li class="item2">入会金0円</li>
  <li class="item2">平日：9時〜17時</li>
  <li class="item2">土日祝：利用ナシ</li>
  <li class="item2">コアタイムでの利用に最適なプラン</li>
</ul>

<ul class="plan" style="list-style: none">
  <li class="plan-title">プランテキスト</li>
  <li class="item1">
    <div class="fee">
      <p class="fee-price">￥5,000</p>
    </div>
    <p class="fee-detail">月額</p>
  </li>
  <li class="item2">入会金0円</li>
  <li class="item2">平日：9時〜17時</li>
  <li class="item2">土日祝：利用ナシ</li>
  <li class="item2">コアタイムでの利用に最適なプラン</li>
</ul>
