@use "../../variables" as *;

.plan1 {
  padding: 0px;
}

.plan2 {
  padding: 0px;
  border: 5px solid $orange_bistre;
  li:nth-child(1) {
    background-color: #442606;
  }
}

.plan-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  height: 69px;
  background: #a19283;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: -1px 0px;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 0px;
  height: 142px;
  background: #ece9e6;
  border: 1px solid #dddddd;
  flex: none;

  align-self: stretch;
  flex-grow: 0;
  margin: -1px 0px;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fee {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  display: flex;

  color: #442606;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fee-detail {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 20px 10px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dddddd;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: -1px 0px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  flex: none;

  flex-grow: 0;
}
