<ul class="plan" style="list-style: none">
  <li class="plan-title">プランテキスト</li>
  <li class="item1">
    <div class="fee">
      <p class="fee-price">￥5,000</p>
    </div>
    <p class="fee-detail">月額</p>
  </li>
  <li class="item2">plan</li>
  <li class="item2">plan</li>
  <li class="item2">plan</li>
  <li class="item2">plan</li>
</ul>

<ul class="plan" style="list-style: none">
  <li class="plan-title">プランテキスト</li>
  <li class="item1">
    <div class="fee">
      <p class="fee-price">￥5,000</p>
    </div>
    <p class="fee-detail">月額</p>
  </li>
  <li class="item2">plan</li>
  <li class="item2">plan</li>
  <li class="item2">plan</li>
  <li class="item2">plan</li>
</ul>
