<div class="card">
  <div class="card-head">
    <div class="card-space"></div>
    <div class="card-title-text">CONSEPT</div>
    <div class="card-photo-space">
      <img src="../../../img/card-1.jpg" class="card-photo" />
    </div>
  </div>
  <div class="card-body-background">
    <div class="card-body">
      <p class="card-body-text">
        「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コ
        ワーキングです。お好きなドリンクを飲みながらゆったりと気兼ねなく
        勉強や仕事に取り組んでいただけます。
      </p>
      <a class="button">コンセプト</a>
    </div>
  </div>
</div>
