@use "../../variables" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;

  .card-head {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

    .card-space {
      border-top: solid 150px $white;
      border-right: solid 150px transparent;
      position: absolute;
      top: 0px;
      z-index: 1;
      margin: -1px -1px;
    }

    .card-title-text {
      position: absolute;
      left: 6px;
      height: 29px;
      font-family: $fontfamily-gothic;
      font-style: normal;
      font-weight: 700;
      font-size: $fontsize-l;
      line-height: 29px;
      display: flex;
      color: $orange_bistre;
      z-index: 1;
    }

    .card-photo-space {
      overflow: hidden;
      .card-photo {
        @media screen and (min-width: $breakpoint-md) {
          transition: 0.5s;
          &:hover {
            transform: scale(1.2, 1.2);
          }
        }
      }
    }
  }

  .card-body {
    padding: 32px;
    height: 183px;
    background: $white_smoke;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    .card-body-text {
      text-align: center;
    }
  }
}
