@use "../../variables" as *;

.header {
  padding: 0;
  background-color: $black;

  .header-logo {
    margin: 15px auto 15px 16px;
    height: 21px;
    width: 120px;
  }

  .humberger-bar {
    padding: 0;
    margin: 20px 16px 20px auto;
    outline: none;
  }

  .header-menu {
    .header-contents {
      font-size: $fontsize-s;
      .header-content {
        .nav-link {
          color: $white;
          padding: 0;
          padding: 15px 0 15px 16px;
        }
      }
      .header-concept .header-concept-menu {
        display: flex;
        justify-content: space-between;
        .header-plusbutton {
          outline: none;
        }
      }
      .dropdown-menu {
        background-color: $black;
        padding: 0;
        .concept-menu {
          padding: 15px 0 15px 28px;
          border-radius: 0;
          transition: all 0.3s ease;
          font-size: $fontsize-s;
          cursor: pointer;
          &:hover {
            background-color: $orange_bistre;
            transition: 0.2s;
            transition-timing-function: ease;
          }
          .dropdown-style {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    background-color: $black_50;
    height: 90px;
    .navbar-brand .header-logo {
      margin: 33px auto 33px 30px;
      height: 24px;
      width: 140px;
    }
    .header-menu .header-contents {
      margin-left: auto;
      padding-right: 50px;
      gap: 40px;
      .header-content {
        .nav-link {
          padding: 0;
        }
        :hover {
          color: $gray_nobel;
          transition: 0.2s;
          transition-timing-function: ease;
        }
      }
      .header-concept {
        .dropdown-menu {
          display: flex;
          flex-direction: column;
          visibility: visible;
          .concept-menu {
            padding: 0;
            .dropdown-style {
              padding: 0;
            }
          }
        }
      }
      &:hover .dropdown-menu {
        visibility: visible;
      }
    }
  }
}
