<nav class="navbar navbar-expand-xl header">
  <a class="navbar-brand" href="#">
    <img class="header-logo" src="../../../img/header.png" />
  </a>

  <button
    class="navbar-toggler humberger-bar"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <img src="../../../img/humberger-bar.svg" />
  </button>

  <div class="collapse navbar-collapse header-menu" id="navbarNavDropdown">
    <ul class="navbar-nav header-contents">
      <li class="nav-item active header-content">
        <a class="nav-link" href="#">HOME</a>
      </li>

      <li class="nav-item dropdown active header-content header-concept">
        <div class="header-concept-menu">
          <a class="nav-link" href="#" data-bs-toggle="dropdown"> CONCEPT </a>

          <button
            class="navbar-toggler header-plusbutton"
            type="button"
            data-toggle="collapse"
            data-target="#dropdown-menu"
            aria-controls="dropdown-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img src="../../../img/Property 1=plus.svg" />
          </button>
        </div>

        <ul
          class="collapse navbar-collapse concept-dropdown"
          id="dropdown-menu"
        >
          <li class="concept-menu">
            <a class="dropdown-style" href="#">ブログアーカイブ</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">お知らせアーカイブ</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">イベントアーカイブ</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">インタビューアーカイブ</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">FAQページ</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">固定ページ(デフォルト)</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">CONCEPT</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">SERVICE</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">FLOOR</a>
          </li>
          <li class="concept-menu">
            <a class="dropdown-style" href="#">ACCESS</a>
          </li>
        </ul>
      </li>

      <li class="nav-item active header-content">
        <a class="nav-link" href="#">SERVICE</a>
      </li>
      <li class="nav-item active header-content">
        <a class="nav-link" href="#">FLOOR</a>
      </li>
      <li class="nav-item active header-content">
        <a class="nav-link" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item active header-content">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item active header-content">
        <a class="nav-link" href="#">ACCESS</a>
      </li>
      <li class="nav-item active header-content">
        <a class="nav-link" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>
