@use "../../variables" as *;

.news {
  background-color: #e5e5e5;

  .news-title {
    display: flex;

    .news-title-news {
      font-family: "Noto Serif JP";
      font-size: 40px;
      position: relative;
    }

    .news-title-subtitle {
      font-family: "Noto Sans JP";
      font-size: 16px;
    }
  }

  .news-contents {
    list-style: square;
    padding-left: 0px;
    list-style: none;
    background-color: $white;

    .news-link {
      .news-content {
        border: solid 1px;
        height: 5px;
      }
    }
  }
}
