<div class="news">
  <div class="news-title">
    <h2 class="news-title-news">News</h2>
    <h2 class="news-title-subtitle">お知らせ</h2>
  </div>

  <ul class="news-contents">
    <a href="#" class="news-content-link">
      <li class="news-content">
        <p class="news-date">20xx.00.00</p>
        お知らせ
      </li>
    </a>
    <a href="#" class="news-content-link">
      <li class="news-content">
        <p class="news-date">20xx.00.00</p>
        お知らせ
      </li>
    </a>
    <a href="#" class="news-content-link">
      <li class="news-content">
        <p class="news-date">20xx.00.00</p>
        お知らせ
      </li>
    </a>
    <a href="#" class="news-content-link">
      <li class="news-content">
        <p class="news-date">20xx.00.00</p>
        お知らせ
      </li>
    </a>
    <a href="#" class="news-content-link">
      <li class="news-content">
        <p class="news-date">20xx.00.00</p>
        お知らせ
      </li>
    </a>
  </ul>

  <div class="information-list">
    <a href="#" class="news-and-events-more"
      >お知らせ一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
