@use "../../variables" as *;

.news {
  width: 460px;
  height: 595px;

  .news-title {
    display: flex;
    height: 89px;

    .news-title-news {
      font-family: "Noto Serif JP";
      font-size: $fontsize-xxl;
      position: relative;
    }

    .news-title-subtitle {
      font-family: "Noto Sans JP";
      font-size: $fontsize-m;
      margin-left: 16px;
      margin-top: 17px;
    }
  }

  .news-contents {
    list-style: square;
    padding-left: 0px;
    list-style: none;
    background-color: $white;
    height: 421px;
    margin-bottom: 0;

    .news-content-link {
      .news-content {
        margin-top: -1px;
        border: solid $gray_gainsboro 1px;
        height: 84px;
        transition-timing-function: ease;
        transition: 0.2s;

        .news-date {
          color: $gray_nobel;
          font-size: $fontsize-xs;
          position: relative;
          top: 20px;
          left: 20px;
        }

        .news-detail {
          color: $black;
          font-size: $fontsize-m;
          position: relative;
          top: 10px;
          left: 20px;
          max-width: 414px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover .news-detail {
          color: $orange_bistre;
        }
      }
    }
    &:hover .news-content-link {
      text-decoration: none;
    }
  }

  .information-list {
    height: 85px;
    text-align: right;
    margin-top: 14px;

    .news-and-events-more {
      align-self: flex-end;
      cursor: pointer;
      text-decoration: none;
      font-size: $fontsize-s;
      transition: color 0.2s ease;
      display: inline-flex;

      &:hover {
        color: $gray_nobel;
        text-decoration: none;
      }

      & > i {
        margin-left: 16px;
        margin-right: 0;
      }
    }
  }
}
