<footer>
  <div class="footer-contact">
    <img src="../../../img/footer.png" class="footer-logo" />

    <div class="footer-address">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト
      <br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /不定休
    </div>

    <div class="footer-icons">
      <a href="#" class="footer-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="footer-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="footer-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="footer-icon"><i class="fas fa-rss"></i></a>
    </div>
  </div>

  <ul class="footer-contents">
    <li class="footer-content"><a href="#" class="footer-link">HOME</a></li>
    <li class="footer-content"><a href="#" class="footer-link">CONCEPT</a></li>
    <li class="footer-content"><a href="#" class="footer-link">SERVICE</a></li>
    <li class="footer-content"><a href="#" class="footer-link">FLLOR</a></li>
    <li class="footer-content">
      <a href="#" class="footer-link">INTERVIEW</a>
    </li>
    <li class="footer-content"><a href="#" class="footer-link">BLOG</a></li>
    <li class="footer-content"><a href="#" class="footer-link">ACCESS</a></li>
    <li class="footer-content"><a href="#" class="footer-link">DOWNLOAD</a></li>
  </ul>

  <div class="footer-bottom">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </div>
</footer>
