@use "../../variables" as *;

.footer {
  text-align: center;
  .footer-contact {
    .footer-logo {
      height: 25.7px;
      width: 150px;
      margin: 52px 0 20px;
      @media screen and (max-width: $breakpoint-lg) {
        margin-top: 32px;
      }
    }

    .footer-address {
      font-size: $fontsize-s;
      text-align: center;
    }

    .footer-icons {
      margin: 20px 0 52px;

      @media screen and (max-width: $breakpoint-lg) {
        margin-bottom: 32px;
      }

      .footer-icon {
        margin-right: 14px;
      }
      .footer-icon:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-contents {
    border-top: 1px solid $gray_nobel;
    padding: 16px;
    background-color: $white_smoke;

    .footer-content {
      color: $black;
      text-decoration: none;
      font-size: $fontsize-s;
      transition: 0.2s;
      border-right: 1px solid;
      margin-right: 8px;
      padding-right: 8px;
      cursor: pointer;
    }
    .footer-content:last-child {
      border: 0px;
    }

    @media screen and (max-width: $breakpoint-lg) {
      display: flex;
      flex-wrap: wrap;
      .footer-content {
        width: 50%;
        text-align: left;
        border: none;
        margin-bottom: 8px;
        border: 0px;
      }
    }
  }

  .footer-bottom {
    background-color: $black;
    color: $white;
    font-size: $fontsize-xs;
    padding: 16px 0 16px;
  }
}
