@use "../../variables" as *;

.message {
  text-align: center;
  padding: 32px 20px;

  .message-title {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-l;
    margin-bottom: 6px;
  }

  .message-detail {
    font-size: $fontsize-s;
    margin: 0;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 52px 20px;

    .message-title {
      font-size: $fontsize-xl;
      margin-bottom: 10px;
    }
  }
}
