@use "../../variables" as *;

.plans {
  .message {
    padding-top: 0;
    .message-title {
      color: $orange_bistre;
    }
  }

  .plans-plans {
    margin-bottom: 30px;
    .row {
      display: flex;
      gap: 30px;
      .plan {
      }
    }
  }
}
