@use "../../variables" as *;

.plans {
  .message {
    padding-top: 0;
    .message-title {
      color: $orange_bistre;
    }
  }
  .col:nth-child(2) .plan {
    outline: 5px solid $orange_bistre;
    outline-offset: -5px;
    li:nth-child(1) {
      background-color: $orange_bistre;
    }
  }

  .plans-button {
    display: flex;
    justify-content: center;
    margin: 35px auto 100px;
    @media screen and (max-width: $breakpoint-md) {
      margin: 24px auto 35px;
    }
  }
}
