@use "../../variables" as *;
.about {
  .about-img-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }

    .about-img {
      width: 100%;
    }
  }

  .message {
    background-color: $white_smoke;

    .message-title {
      color: $orange_bistre;
    }
  }
}
