@use "../../variables" as *;
.news-and-events {
  padding-top: 56px;
  padding-bottom: 56px;
  margin-bottom: 0;
  background-color: $white_smoke;

  .container {
    .news {
      margin-bottom: 0;
      .news-contents .news-content-link .news-content {
        height: calc(401px / 5);
      }
    }
    .events {
      margin-bottom: 0;
      .event-caption h3 {
        font-weight: 400;
      }
      .news-and-events-more {
        margin-top: 0;
        @media screen and (max-width: $breakpoint-lg) {
          margin-top: 16px;
        }
      }
    }
    @media screen and (max-width: $breakpoint-lg) {
      .news {
        margin-bottom: 35px;
      }
    }
  }
}
